.card__container {
    margin: 20px 0 60px;
}

.card {
    margin-bottom: 20px;
    display: inline-block;
}

.card__textWrapper {
    margin: 40px;
}

.card__created {
    font-size: 14px;
    color: grey;
    padding: 10px 0;
}

.card__buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.card__icons--optional {
    gap: 20px;
    display: flex;
}

.card__iconsContainer {
    display: flex;
    justify-content: space-between;
}

.card-columns {
    column-count: 2;
    display: inline-block;
    -webkit-column-break-inside: avoid;
}

@media (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}