@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

html {
	min-height: 100vh;
}

body {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFFFFF;
	/* background: url(); 
	background-size: 100%;
	background-position: bottom;*/
	min-height: 100%;
	overscroll-behavior: none;
	word-break: break-word;
	word-wrap: break-word;
}

main {
	flex: 1 0 auto;
}


form {
	padding: 20px;
	margin-top: 60px;
}

form button {
	margin: 10px 0;
	font-weight: 600;
}

form h5 {
	margin-bottom: 20px;
}

.search-form {
	margin: 0px;
	padding: 0px;
	display: flex;
	gap: 20px;
	margin: 20px auto;
	justify-content: center;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #b71c1c;
	box-shadow: none;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 999;
}

nav {
	display: grid;
	grid-template-columns: 30% 37% 33%;
	justify-items: center;
	align-items: center;
	height: 130px;
	background-color: white;
	border-bottom: 1px solid #eee;
	box-shadow: none;
	text-transform: uppercase;
}

ul li a {
	font-size: 13px;
	padding: 0 10px;
	color: darkgrey;
	text-transform: uppercase;
}

subnav {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 20px;
	justify-items: center;
	align-items: center;
	height: 70px;
	text-transform: uppercase;
}

subnav a {
	color: #151515;
	font-weight: 500px;
}

.icon {
	margin: 0;
	padding: 0;
	font-size: 18px;
}




.header {
	color: #151515;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 1.8px;
}

/* .subnav {
	height: 70px;
	color: grey;
} */

.blog-list {
	margin-bottom: 50px;

}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-width: 5px;
	margin-left: 10px;
}

.big {
	width: 150px;
	height: 150px;
	margin-left: 50px
}

span {
	font-weight: 600;
	font-size: 16px;
}

button {
	margin: 20px 20px 0 0;
	font-weight: 600;
}

.card .card-title {
	font-weight: 600;
}

/* .search-box {
	width: 80%;
} */


/* .cards-container {
	column-break-inside: avoid;
}

.cards-container .card {
	display: inline-block;
	overflow: visible;
}

@media only screen and (max-width : 600px) {
	.cards-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width : 601px) {
	.cards-container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media only screen and (min-width : 993px) {
	.cards-container {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
} */

.text-center {
	text-align: center;
}

.card-btn {
	font-weight: 400;
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.action-button {
	margin: 0;
	padding: 0 0 0 20px;
}