@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-family: Quicksand;
	background-color: #F5F5F4;
	/* background: url(); 
	background-size: 100%;
	background-position: bottom;*/
	min-height: 100%;
}

main {
	flex: 1 0 auto;
}


form {
	padding: 20px;
	margin-top: 60px;
}

form button {
	margin: 10px 0;
	font-weight: 600;
}

form h5 {
	margin-bottom: 20px;
}

.search-form {
	margin: 0px;
	padding: 0px;
	display: flex;
	gap: 20px;
	margin: 20px auto;
	justify-content: center;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #b71c1c;
	box-shadow: none;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

.blog-list {
	margin-bottom: 50px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-width: 5px;
}

.big {
	width: 150px;
	height: 150px;
	margin-left: 50px
}

span {
	font-weight: 600;
	font-size: 16px;
}

button {
	margin: 20px 20px 0 0;
	font-weight: 600;
}

.card .card-title {
	font-weight: 600;
}

.search-box {
	width: 80%;
}


/* .cards-container {
	column-break-inside: avoid;
}

.cards-container .card {
	display: inline-block;
	overflow: visible;
}

@media only screen and (max-width : 600px) {
	.cards-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width : 601px) {
	.cards-container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media only screen and (min-width : 993px) {
	.cards-container {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
} */

.text-center {
	text-align: center;
}

.card {
	width: 45;
}

.card-btn {
	font-weight: 400;
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.action-button {
	margin: 0;
	padding: 0 0 0 20px;
}