.mainmenu__container {
    display: flex;
    align-items: center;
}

.mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 20px 30px;
    padding: 0;
}

.mainmenu a {
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.mainmenu__header {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.mainmenu__profile {
    font-weight: bold;
}

.mainmenu .active {
    color: crimson;
}

.mainmenu__logout {
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 400;
    text-transform: uppercase;

}

@media (max-width: 768px) {
    .mainmenu {
        flex-direction: column
    }
}

@media (max-width: 468px) {
    .mainmenu {
        margin: 10px;
        font-size: 12px;
    }

    .mainmenu a {
        padding: 10px;
    }

    .mainmenu__link--header {
        font-size: 26px;
        letter-spacing: 1px;
    }
}